<!DOCTYPE html>
<html>
<head>
    <title>Images in {{ folder }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Images in {{ folder }}</h1>
    <ul>
        {% for image in images %}
    <a href="/images/{{ folder }}/{{ image }}">
        <img data-src="{{ url_for('static', filename='placeholder.png') }}" data-srcset="/images/{{ folder }}/{{ image }} 1x, /images/{{ folder }}/{{ image }} 2x" alt="{{ image }}"> <br> <br> <br>
    </a>
{% endfor %}

    </ul>
    <script src="{{ url_for('static', filename='lazyload.js') }}"></script>
    <script src="node_modules/lazysizes/lazysizes.min.js" async=""></script>
</body>
</html>
